<section>
    <h2>Gallery</h2>
    <div class="gallery__set">
        <div class="gallery__pairs">
            <img class="gallery__img" src="./images/home-pic5 5.jpg" alt="" width="138px" height="138px">
        </div>
        <div class="gallery__pairs">
            <img class="gallery__img" src="./images/home-pic5 4.jpg" alt="" width="138px" height="138px">
            <img class="gallery__img" src="./images/home-pic5 6.jpg" alt="" width="138px" height="138px">
        </div>
        <div class="gallery__pairs">
            <img class="gallery__img" src="./images/home-pic5 1.jpg" alt="" width="283px" height="283px">
            <img class="gallery__img" src="./images/home-pic5 7.jpg" alt="" width="138px" height="138px">
        </div>
        <div class="gallery__pairs">
            <img class="gallery__img" src="./images/home-pic5 9.jpg" alt="" width="138px" height="138px">
            <img class="gallery__img" src="./images/home-pic5 8.jpg" alt="" width="138px" height="138px">
        </div>
        <div class="gallery__pairs">
            <img class="gallery__img" src="./images/home-pic5 10.jpg" alt="" width="138px" height="138px">
            <img class="gallery__img" src="./images/home-pic5 12.jpg" alt="" width="138px" height="138px">
        </div>
        <div class="gallery__pairs">
            <img class="gallery__img" src="./images/home-pic5 11.jpg" alt="" width="138px" height="138px">
        </div>
    </div>
</section>